/* You can add global styles to this file, and also import other style files */

@import'./config-scss/reset.scss';
@import './config-scss/variable.scss';
@import './config-scss/rem_calc.scss';
@import './config-scss/btn.scss';

html{
    font-family: 'Roboto' , sans-serif;
background-color: var(--primary-color);
}


main{
    max-width: rem-calc(600);
    height: 0 auto ;
    box-sizing: border-box;
}